<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="userBotToken" value="8101077535:AAGoM2U7AbkQbqWBRTyAoshmSgMpt3MWYd8"/>
    <add key="launchCommand" value="/go,/start"/>
    <add key="connectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Александр\Source\Repos\Otus.TravelBot\DataBase\TravelBotDb.mdf;Initial Catalog=TravelBotDb;Integrated Security=True"/>
  </appSettings>
</configuration>