<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="userBotToken" value=""/>
    <add key="launchCommand" value="/go"/>
    <add key="connectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Александр\Source\Repos\Otus.TravelBot\DataBase\TravelBotDb.mdf;Initial Catalog=TravelBotDb;Integrated Security=True"/>
  </appSettings>
</configuration>